<% content_for :title do %>About<% end %>

<% content_for :content do %>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">About the game</h1>
        <p align="justify">
          The goal of the game is to make the most money as possible in 31 turns.
          During each turn, you can buy or sell as many drugs as you want.
          A turn ends as soon as you move to a different location.
          You start the game with a $2,000 loan and a crew.
          At the end of the game, you will have to pay back your loan (with interests) and you will have to pay $50,000 to each of your crew member (plus 2% of every profit you made selling drugs).
          During the game, you can pay back your loan (you do not have to wait the end of the game) and you can hire additional crew member.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">Drugs</h1>
        <table class="table is-narrow is-striped is-fullwidth">
          <thead>
            <tr>
              <td>Name</td>
              <td>May Be</td>
              <td align="right">Min Price</td>
              <td align="right">Max Price</td>
              <td align="right">Factor</td>
            </tr>
          </thead>
          <tbody>
            <% config[:drugs].each do |drug| %>
            <% may_be = if drug[:cheap]
                          may_be = 'cheap'
                        elsif drug[:expensive]
                          may_be = 'expensive'
                        else
                          '--'
                        end %>
            <tr>
              <td><%= drug[:name] %></td>
              <td><%= may_be %></td>
              <td align="right"><%= drug[:min_value] %></td>
              <td align="right"><%= drug[:max_value] %></td>
              <td align="right"><%= '%.2f' % (drug[:max_value].to_f / drug[:min_value].to_f) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">Locations</h1>
        <table class="table is-narrow is-striped is-fullwidth" id="locations">
          <thead>
            <tr><td>Name</td><td>Bank</td><td>Debt</td><td>Hire</td><td align="right">Min Drugs</td><td align="right">Max Drugs</td></tr>
          </thead>
          <tbody>
            <% config[:locations].each do |location| %>
            <tr>
              <td><%= location[:name] %></td>
              <td><%= location[:bank] ? 'yes' : '--' %></td>
              <td><%= location[:debt] ? 'yes' : '--' %></td>
              <td><%= location[:hire] ? 'yes' : '--' %></td>
              <td align="right"><%= location[:min_drugs] %></td>
              <td align="right"><%= location[:max_drugs] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<% end %>
