<% content_for :title do %>Dopewars<% end %>

<% content_for :content do %>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">Status</h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Turn</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="game-turn"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Location</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="game-location"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Cash</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="game-cash"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Bank</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="game-bank"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Debt</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="game-debt"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Crew</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="game-crew"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Space</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="game-space"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Sidekicks</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="game-sidekicks"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Health</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="game-health"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <h1 class="title">Bank</h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Cash</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" id="bank-cash"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-primary" id="make-deposit">Put</button>
              </div>
              <div class="control">
                <button class="button is-primary" id="make-withdraw">Take</button>
              </div>
            </div>
          </div>
        </div>
        <h1 class="title">Debt</h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Cash</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" id="debt-cash"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary" id="pay">Pay</button>
              </div>
            </div>
          </div>
        </div>
        <h1 class="title">Sidekick</h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Cash</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="sidekick-cash"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary" id="hire-sidekick">Hire</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">Destinations</h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary" id="jet">Jet</button>
              </div>
            </div>
          </div>
        </div>
        <table class="table is-narrow is-striped is-fullwidth" id="locations">
          <thead>
            <tr><td>Where</td><td></td><td align="right">Threat</td></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="column is-half">
        <h1 class="title">Events</h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-info is-light" id="events-show">Show All</button>
              </div>
            </div>
          </div>
        </div>
        <table class="table is-narrow is-striped is-fullwidth" id="events">
          <thead>
            <tr><td>Description</td></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">Drugs here</h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Info</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" value="No offer selected" readonly id="buy-info"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Quantity</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" value="0" id="buy-quantity"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary" id="buy">Buy</button>
              </div>
            </div>
          </div>
        </div>
        <table class="table is-narrow is-striped is-fullwidth" id="offer">
          <thead>
            <tr><td>Name</td><td align="right">Rating&nbsp;(0&nbsp;-&nbsp;10)</td><td align="right">Price</td></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="column is-half">
        <h1 class="title">Drugs carried</h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Info</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" value="No item selected" readonly id="sell-info"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Quantity</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" value="0" id="sell-quantity"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-primary" id="sell">Sell</button>
              </div>
              <div class="control">
                <button class="button is-primary" id="drop">Drop</button>
              </div>
            </div>
          </div>
        </div>
        <table class="table is-narrow is-striped is-fullwidth" id="inventory">
          <thead>
            <tr><td>Name</td><td align="right">Quantity</td><td align="right">Unit&nbsp;Value</td></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div class="modal" id="all-events-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Events</p>
      <button class="delete" aria-label="close" id="close-all-events-modal"></button>
    </header>
    <section class="modal-card-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <table class="table is-narrow is-striped is-fullwidth" id="all-events">
              <thead>
                <tr><td align="right">Turn</td><td>Location</td><td>Description</td></tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<% end %>

<% content_for :script do %>
<script type="text/javascript" src="<%= settings[:base_url] %>/utils.js"></script>
<script type="text/javascript" src="<%= settings[:base_url] %>/api.js"></script>
<script type="text/javascript">
  var game = {
    inv: {},
    offers: {},
    items: {}
  };
  var selectedDestination = null;
  var selectedOffer = null;
  var selectedItem = null;
  function selectDestination(name) {
    var tr;
    var afford = 0;
    if (selectedDestination) {
      return;
    }
    tr = document.getElementById('destination_' + name);
    tr.className = 'is-selected';
    selectedDestination = name;
    if (selectedDestination === game.inv.current_location.name) {
      document.getElementById('jet').disabled = true;
    } else {
      document.getElementById('jet').disabled = false;
    }
  }
  function unselectDestination() {
    var tr;
    document.getElementById('jet').disabled = true;
    if (!selectedDestination) {
      return;
    }
    tr = document.getElementById('destination_' + selectedDestination);
    if (tr) {
      tr.className = null;
    }
    selectedDestination = null;
  }
  function selectOffer(name) {
    var tr;
    var afford = 0;
    if (selectedOffer) {
      return;
    }
    tr = document.getElementById('offer_' + name);
    tr.className = 'is-selected';
    selectedOffer = name;
    if (game.inv.cash >= game.offers[name].unitPrice) {
      afford = Math.floor(game.inv.cash / game.offers[name].unitPrice);
    }
    if (afford > 0) {
      document.getElementById('buy').disabled = false;
    }
    showBuyInfo('You can afford ' + afford + ' ' + name + ' unit(s)');
    if (afford > game.inv.space) {
      showBuyQuantity(game.inv.space);
    } else {
      showBuyQuantity(afford);
    }
  }
  function unselectOffer() {
    var tr;
    document.getElementById('buy').disabled = true;
    if (!selectedOffer) {
      return;
    }
    tr = document.getElementById('offer_' + selectedOffer);
    if (tr) {
      tr.className = null;
    }
    selectedOffer = null;
    showBuyInfo('No offer selected');
    showBuyQuantity(0);
  }
  function showBuyInfo(info) {
    document.getElementById('buy-info').value = info;
  }
  function showBuyQuantity(q) {
    document.getElementById('buy-quantity').value = String(q);
  }
  function selectItem(name) {
    var tr;
    var profit;
    if (selectedItem) {
      return;
    }
    tr = document.getElementById('item_' + name);
    tr.className = 'is-selected';
    selectedItem = name;
    if (!game.offers.hasOwnProperty(name)) {
      document.getElementById('drop').disabled = false;
      showSellInfo('No offer available');
      showSellQuantity(0);
      return;
    }
    document.getElementById('sell').disabled = false;
    document.getElementById('drop').disabled = false;
    profit = (game.offers[name].unitPrice * game.items[name].quantity) - game.items[name].value;
    if (profit > 0) {
      showSellInfo('You can make a ' + formatCredits(profit) + ' profit');
    } else if (profit < 0) {
      showSellInfo('You can make a ' + formatCredits(-profit) + ' loss');
    } else {
      showSellInfo('No profit');
    }
    showSellQuantity(game.items[name].quantity);
  }
  function unselectItem() {
    var tr;
    document.getElementById('sell').disabled = true;
    document.getElementById('drop').disabled = true;
    if (!selectedItem) {
      return;
    }
    tr = document.getElementById('item_' + selectedItem);
    tr.className = null;
    selectedItem = null;
    showSellInfo('No item selected');
    showSellQuantity(0);
  }
  function showSellInfo(info) {
    document.getElementById('sell-info').value = info;
  }
  function showSellQuantity(q) {
    document.getElementById('sell-quantity').value = String(q);
  }
  function updateLocations() {
    var locations;
    var tbody;
    unselectDestination();
    locations = document.getElementById('locations');
    tbody = locations.getElementsByTagName('tbody')[0];
    while (tbody.lastChild) {
      tbody.removeChild(tbody.lastChild);
    } // while
    game.inv.locations.forEach(function (loc) {
      var here = (loc.name === game.inv.current_location.name) ? 'Here' : '';
      var tr = document.createElement('tr');
      tr.id = 'destination_' + loc.name;
      tr.innerHTML = '<td>' + loc.name + '</td><td>' + here + '</td><td align="right">' + loc.threat + '</td>';
      tr.addEventListener('click', function (e) {
        unselectDestination();
        if (!e.ctrlKey) {
          selectDestination(loc.name);
        }
      });
      tbody.appendChild(tr);
    });
  }
  function updateEvents() {
    var events = document.getElementById('events');
    var tbody = events.getElementsByTagName('tbody')[0];
    while (tbody.lastChild) {
      tbody.removeChild(tbody.lastChild);
    } // while
    game.inv.events.forEach(function (evt) {
      if (evt.turn === game.inv.turn) {
        var tr = document.createElement('tr');
        tr.innerHTML = '<td>' + evt.description + '</td>';
        tbody.appendChild(tr);
      }
    });
    events = document.getElementById('all-events');
    tbody = events.getElementsByTagName('tbody')[0];
    while (tbody.lastChild) {
      tbody.removeChild(tbody.lastChild);
    } // while
    game.inv.events.forEach(function (evt) {
      var tr = document.createElement('tr');
      tr.innerHTML = '<td align="right">' + String(evt.turn) + '</td><td>' + evt.location_name.replace(/ /g, '&nbsp;') + '</td><td>' + evt.description.replace(/ /g, '&nbsp;') + '</td>';
      tbody.appendChild(tr);
    });
  }
  function updateOffers() {
    var offer;
    var tbody;
    unselectOffer();
    offer = document.getElementById('offer');
    tbody = offer.getElementsByTagName('tbody')[0];
    while (tbody.lastChild) {
      tbody.removeChild(tbody.lastChild);
    } // while
    game.inv.offers.forEach(function (offer) {
      var tr = document.createElement('tr');
      tr.id = 'offer_' + offer.drug_name;
      tr.innerHTML = '<td>' + offer.drug_name + '</td><td align="right">' + String(offer.rating) + '</td><td align="right">' + formatCredits(offer.unit_price) + '</td>';
      tr.addEventListener('click', function (e) {
        unselectOffer();
        if (!e.ctrlKey) {
          selectOffer(offer.drug_name);
        }
      });
      tbody.appendChild(tr);
    });
  }
  function updateItems() {
    var inventory;
    var tbody;
    unselectItem();
    inventory = document.getElementById('inventory');
    tbody = inventory.getElementsByTagName('tbody')[0];
    while (tbody.lastChild) {
      tbody.removeChild(tbody.lastChild);
    } // while
    game.inv.items.forEach(function (item) {
      var tr = document.createElement('tr');
      tr.id = 'item_' + item.drug_name;
      tr.innerHTML = '<td>' + item.drug_name + '</td><td align="right">' + String(item.quantity) + '</td><td align="right">' + formatCredits(game.items[item.drug_name].unitValue) + '</td>';
      tr.addEventListener('click', function (e) {
        unselectItem();
        if (!e.ctrlKey) {
          selectItem(item.drug_name);
        }
      });
      tbody.appendChild(tr);
    });
  }
  function updateInventory(inv) {
    if (inv.turn === null) {
      document.location.reload();
      return;
    }
    game.inv = inv;
    game.offers = {};
    inv.offers.forEach(function (o) {
      game.offers[o.drug_name] = {unitPrice: o.unit_price};
    });
    game.items = {};
    inv.items.forEach(function (i) {
      game.items[i.drug_name] = {quantity: i.quantity, value: i.value, unitValue: Math.floor(i.value / i.quantity)};
    });
    document.title = String(game.inv.turn) + ' - ' + game.inv.current_location.name;
    document.getElementById('game-turn').value = String(game.inv.turn) + ' / ' + String(game.inv.turn_limit);
    document.getElementById('game-location').value = game.inv.current_location.name;
    document.getElementById('game-cash').value = formatCredits(game.inv.cash);
    document.getElementById('game-bank').value = formatCredits(game.inv.bank);
    document.getElementById('game-debt').value = formatCredits(game.inv.debt);
    document.getElementById('game-crew').value = formatCredits(game.inv.crew);
    document.getElementById('game-space').value = String(game.inv.space);
    document.getElementById('game-sidekicks').value = String(game.inv.sidekicks);
    document.getElementById('game-health').value = String(game.inv.health);
    if (game.inv.current_location.bank) {
      document.getElementById('bank-cash').value = '';
      document.getElementById('bank-cash').disabled = false;
      document.getElementById('make-deposit').disabled = false;
      document.getElementById('make-withdraw').disabled = false;
    } else {
      document.getElementById('bank-cash').value = 'Your bank is not here';
      document.getElementById('bank-cash').disabled = true;
      document.getElementById('make-deposit').disabled = true;
      document.getElementById('make-withdraw').disabled = true;
    }
    if (game.inv.debt <= 0) {
      document.getElementById('debt-cash').value = 'No debt';
      document.getElementById('debt-cash').disabled = true;
      document.getElementById('pay').disabled = true;
    } else if (game.inv.current_location.debt) {
      document.getElementById('debt-cash').value = '';
      document.getElementById('debt-cash').disabled = false;
      document.getElementById('pay').disabled = false;
    } else {
      document.getElementById('debt-cash').value = 'Your loaner is not here';
      document.getElementById('debt-cash').disabled = true;
      document.getElementById('pay').disabled = true;
    }
    if (game.inv.sidekick_comp) {
      document.getElementById('sidekick-cash').value = formatCredits(game.inv.sidekick_comp);
      if (game.inv.cash >= game.inv.sidekick_comp) {
        document.getElementById('hire-sidekick').disabled = false;
      } else {
        document.getElementById('hire-sidekick').disabled = true;
      }
    } else {
      document.getElementById('sidekick-cash').value = 'Nobody to hire';
      document.getElementById('hire-sidekick').disabled = true;
    }
    updateLocations();
    updateEvents();
    updateOffers();
    updateItems();
  }
  function createGameParams(params) {
    return Object.assign(
      {
        baseURL: '<%= settings[:base_url] %>',
        token: getCookie('token'),
        gameHash: game.inv.hash
      },
      params);
  }
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('make-deposit').addEventListener('click', function (e) {
      var cash = parseInt(document.getElementById('bank-cash').value);
      if (!cash) {
        return;
      }
      api.makeDeposit(createGameParams({cash: cash}))
        .then(function (res) {
          updateInventory(res);
        })
        .catch(function (err) {
          console.error('makeDeposit', err);
        });
    });
    document.getElementById('make-withdraw').addEventListener('click', function (e) {
      var cash = parseInt(document.getElementById('bank-cash').value);
      if (!cash) {
        return;
      }
      api.makeWithdraw(createGameParams({cash: cash}))
        .then(function (res) {
          updateInventory(res);
        })
        .catch(function (err) {
          console.error('makeWithdraw', err);
        });
    });
    document.getElementById('pay').addEventListener('click', function (e) {
      var cash = parseInt(document.getElementById('debt-cash').value);
      if (!cash) {
        return;
      }
      api.payDebt(createGameParams({cash: cash}))
        .then(function (res) {
          updateInventory(res);
        })
        .catch(function (err) {
          console.error('payDebt', err);
        });
    });
    document.getElementById('hire-sidekick').addEventListener('click', function (e) {
      api.hireSidekick(createGameParams({}))
        .then(function (res) {
          updateInventory(res);
        })
        .catch(function (err) {
          console.error('payDebt', err);
        });
    });
    document.getElementById('jet').addEventListener('click', function (e) {
      if (!selectedDestination) {
        return;
      }
      api.changeLocation(createGameParams({locationName: selectedDestination}))
        .then(function (res) {
          if (!res.active) {
            document.location.reload();
            return;
          }
          updateInventory(res);
        })
        .catch(function (err) {
          console.error('changeLocation', err);
        });
    });
    document.getElementById('events-show').addEventListener('click', function (e) {
      var modal = document.getElementById('all-events-modal');
      var html = document.getElementById('root-html');
      modal.classList.add('is-active');
      html.classList.add('is-clipped');
    });
    document.getElementById('close-all-events-modal').addEventListener('click', function (e) {
      var modal = document.getElementById('all-events-modal');
      var html = document.getElementById('root-html');
      modal.classList.remove('is-active');
      html.classList.remove('is-clipped');
    });
    document.getElementById('buy').addEventListener('click', function (e) {
      var quantity;
      if (!selectedOffer) {
        return;
      }
      quantity = parseInt(document.getElementById('buy-quantity').value);
      if (quantity <= 0 || quantity > game.inv.space) {
        return;
      }
      api.buyDrug(createGameParams({drugName: selectedOffer, quantity: quantity}))
        .then(function (res) {
          updateInventory(res);
        })
        .catch(function (err) {
          console.error('buyDrug', err);
        });
    });
    document.getElementById('sell').addEventListener('click', function (e) {
      var quantity;
      if (!selectedItem) {
        return;
      }
      quantity = parseInt(document.getElementById('sell-quantity').value);
      if (quantity <= 0) {
        return;
      }
      api.sellDrug(createGameParams({drugName: selectedItem, quantity: quantity}))
        .then(function (res) {
          updateInventory(res);
        })
        .catch(function (err) {
          console.error('sellDrug', err);
        });
    });
    document.getElementById('drop').addEventListener('click', function (e) {
      var quantity;
      if (!selectedItem) {
        return;
      }
      quantity = parseInt(document.getElementById('sell-quantity').value);
      if (quantity <= 0) {
        return;
      }
      api.dropDrug(createGameParams({drugName: selectedItem, quantity: quantity}))
        .then(function (res) {
          updateInventory(res);
        })
        .catch(function (err) {
          console.error('dropDrug', err);
        });
    });
    api.fetchInventory({baseURL: '<%= settings[:base_url] %>', token: getCookie('token'), gameHash: '<%= game.public_id %>'})
      .then(function (res) {
        if (!res.active) {
          document.location.reload();
          return;
        }
        updateInventory(res);
      })
      .catch(function (err) {
        console.error('fetchInventory', err);
      });
  });
</script>
<% end %>
