<% content_for :title do %>Dopewars<% end %>

<% content_for :content do %>
<section class="section">
  <nav class="level">
    <div class="level-item has-text-centered">
      <h1 class="title">Welcome to Dopewars!</h1>
    </div>
  </nav>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <nav class="level">
          <div class="level-item is-hidden" id="log-in-div">
            <a class="button is-primary" href="<%= settings[:base_url] %>/log_in">Log In</a>
          </div>
          <div class="level-item is-hidden" id="log-out-div">
            <button class="button is-primary" id="log-out">Log Out</button>
          </div>
          <div class="level-item is-hidden" id="sign-up-div">
            <a class="button is-primary" href="<%= settings[:base_url] %>/sign_up">Sign Up</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="level">
    <div class="level-item has-text-centered">
      <h2 class="subtitle" id="player-name">Authenticate yourself in order to play</h2>
    </div>
  </div>
</section>
<section class="section is-hidden" id="auth-action-div">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <nav class="level">
          <div class="level-item">
            <button class="button is-primary" id="start-game">Start Game</button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="section" id="wall-div">
  <div class="level">
    <div class="level-item has-text-centered">
      <h2 class="subtitle" id="wall-title"><a href="<%= settings[:base_url] %>/wall">Wall of fame</a></h2>
    </div>
  </div>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <table class="table is-narrow is-striped is-fullwidth" id="wall">
          <thead>
            <tr><td align="right">Ranking</td><td>Player</td><td>When</td><td align="right">Score</td></tr>
          </thead>
          <tbody>
            <% games.each do |game| %>
            <tr>
              <td align="right"><%= game[:ranking] %></td>
              <td><%= game[:player_name] %></td>
              <td style="white-space: nowrap;"><%= game[:elapsed_time] %> ago</td>
              <td align="right"><a href="<%= settings[:base_url] %>/game/<%= game[:hash] %>">$<%= format_credit(game[:score]) %></a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="level">
    <div class="level-item has-text-centered">
      <h2 class="subtitle" id="about-title"><a href="<%= settings[:base_url] %>/about">About the game</a></h2>
    </div>
  </div>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <p align="justify">
          The goal of the game is to make the most money as possible in 31 turns.
          During each turn, you can buy or sell as many drugs as you want.
          A turn ends as soon as you move to a different location.
          You start the game with a $2,000 loan and a crew.
          At the end of the game, you will have to pay back your loan (with interests) and you will have to pay $50,000 to each of your crew member (plus 2% of every profit you made selling drugs).
          During the game, you can pay back your loan (you do not have to wait the end of the game) and you can hire additional crew member.
        </p>
      </div>
    </div>
  </div>
</section>
<% end %>

<% content_for :script do %>
<script type="text/javascript" src="<%= settings[:base_url] %>/utils.js"></script>
<script type="text/javascript" src="<%= settings[:base_url] %>/api.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var token = getCookie('token');
    if (token) {
      document.getElementById('log-out-div').classList.remove('is-hidden');
      document.getElementById('auth-action-div').classList.remove('is-hidden');
    } else {
      document.getElementById('log-in-div').classList.remove('is-hidden');
      document.getElementById('sign-up-div').classList.remove('is-hidden');
    }
    document.getElementById('log-out').addEventListener('click', function (e) {
      deleteCookie('token');
      document.location.reload();
    });
    document.getElementById('start-game').addEventListener('click', function (e) {
      if (!token) {
        return;
      }
      api.createGame({baseURL: '<%= settings[:base_url] %>', token: token})
        .then(function (res) {
          document.location.href = '<%= settings[:base_url] %>/game/' + res.hash;
        })
        .catch(function (err) {});
    });
    if (token) {
      api.fetchProfile({baseURL: '<%= settings[:base_url] %>', token: token})
        .then(function (profile) {
          document.getElementById('player-name').innerHTML = '<a href="<%= settings[:base_url] %>/player">' + profile.name + '</a>';
        })
        .catch(function (err) {
          console.error('fetch', err);
        });
    }
  });
</script>
<% end %>
