<!doctype html>
<html lang="en" id="root-html">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= settings[:base_url] %>/bulma/bulma.min.css">
    <title><% yield_content(:title) %></title>
  </head>
  <body>
<% yield_content(:content) %>
<% yield_content(:script) %>
  </body>
</html>
