<% content_for :title do %>Profile<% end %>

<% content_for :content do %>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">Profile</h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Player</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="player-name"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field is-grouped">
              <div class="control">
                <a class="button is-primary" href="<%= settings[:base_url] %>">Home</a>
              </div>
              <div class="control">
                <button class="button is-light" id="config-game">Custom Game</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">Active Games</h1>
        <table class="table is-narrow is-striped is-fullwidth" id="active-games">
          <thead>
            <tr><td>When</td><td>Standard</td><td align="right">Turn</td></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="column is-half">
        <h1 class="title">Finished Games</h1>
        <table class="table is-narrow is-striped is-fullwidth" id="finished-games">
          <thead>
            <tr><td>When</td><td>Standard</td><td align="right">Score</td></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div class="modal" id="config-game-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Custom Game Configuration</p>
      <button class="delete" aria-label="close" id="close-config-game-modal"></button>
    </header>
    <section class="modal-card-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Number of Turns</label>
            </div>
            <div class="field">
              <div class="control">
                <input class="input" type="text" value="31" id="game-turn"></input>
              </div>
            </div>
            <div class="field">
              <label class="label">Cash ($)</label>
            </div>
            <div class="field">
              <div class="control">
                <input class="input" type="text" value="2000" id="game-cash"></input>
              </div>
            </div>
            <div class="field">
              <label class="label">Debt ($)</label>
              <div class="control">
                <input class="input" type="text" value="5500" id="game-debt"></input>
              </div>
            </div>
            <div class="field">
              <label class="label">Sidekicks</label>
              <div class="control">
                <input class="input" type="text" value="9" id="game-sidekicks"></input>
              </div>
            </div>
            <div class="field">
              <label class="label">Sidekick Compensation ($)</label>
              <div class="control">
                <input class="input" type="text" value="50000" id="game-sidekick-comp"></input>
              </div>
            </div>
            <div class="field">
              <label class="label">Sidekick Profit Sharing (%)</label>
              <div class="control">
                <input class="input" type="text" value="2" id="game-sidekick-profit-sharing"></input>
              </div>
            </div>
            <div class="field">
              <label class="label">Bank Interest (%)</label>
              <div class="control">
                <input class="input" type="text" value="5" id="game-bank-interest"></input>
              </div>
            </div>
            <div class="field">
              <label class="label">Debt Interest (%)</label>
              <div class="control">
                <input class="input" type="text" value="10" id="game-debt-interest"></input>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox" id="game-hire-sidekick-everywhere">
                  Hire Sidekick Everywhere
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox" id="game-offer-max">
                  Always offer every drug
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox" id="game-offer-cheap">
                  Always offer at least one cheap drug
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox" id="game-offer-expensive">
                  Always offer at least one expensive drug
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary" id="start-game">Start</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<% end %>

<% content_for :script do %>
<script type="text/javascript" src="<%= settings[:base_url] %>/utils.js"></script>
<script type="text/javascript" src="<%= settings[:base_url] %>/api.js"></script>
<script type="text/javascript">
  function addActiveGameRow(tbody, data) {
    var standard = data.standard ? 'yes' : 'no';
    var tr = document.createElement('tr');
    tr.innerHTML =
      '<td>' + data.elapsed_time + ' ago</td>' +
      '<td>' + standard + '</td>' +
      '<td align="right"><a href="<%= settings[:base_url] %>/game/' + data.hash + '">' + String(data.turn) + '</a></td>';
    tbody.appendChild(tr);
  }
  function addFinishedGameRow(tbody, data) {
    var standard = data.standard ? 'yes' : 'no';
    var tr = document.createElement('tr');
    tr.innerHTML =
      '<td>' + data.elapsed_time + ' ago</td>' +
      '<td>' + standard + '</td>' +
      '<td align="right"><a href="<%= settings[:base_url] %>/game/' + data.hash + '">' + formatCredits(data.score) + '</a></td>';
    tbody.appendChild(tr);
  }
  document.addEventListener('DOMContentLoaded', function () {
    var token = getCookie('token');
    document.getElementById('config-game').addEventListener('click', function (e) {
      var modal = document.getElementById('config-game-modal');
      var html = document.getElementById('root-html');
      modal.classList.add('is-active');
      html.classList.add('is-clipped');
    });
    document.getElementById('close-config-game-modal').addEventListener('click', function (e) {
      var modal = document.getElementById('config-game-modal');
      var html = document.getElementById('root-html');
      modal.classList.remove('is-active');
      html.classList.remove('is-clipped');
    });
    document.getElementById('start-game').addEventListener('click', function (e) {
      var options = {baseURL: '<%= settings[:base_url] %>', token: token, custom: true};
      options.turnLimit = parseInt(document.getElementById('game-turn').value);
      options.cash = parseInt(document.getElementById('game-cash').value);
      options.debt = parseInt(document.getElementById('game-debt').value);
      options.sidekicks = parseInt(document.getElementById('game-sidekicks').value);
      options.sidekickComp = parseInt(document.getElementById('game-sidekick-comp').value);
      options.sidekickProfitSharing = parseInt(document.getElementById('game-sidekick-profit-sharing').value);
      options.bankInterest = parseInt(document.getElementById('game-bank-interest').value);
      options.debtInterest = parseInt(document.getElementById('game-debt-interest').value);
      options.hireSidekick = document.getElementById('game-hire-sidekick-everywhere').checked;
      options.offerEveryDrug = document.getElementById('game-offer-max').checked;
      options.offerCheapDrug = document.getElementById('game-offer-cheap').checked;
      options.offerExpensiveDrug = document.getElementById('game-offer-expensive').checked;
      console.info('createGame', options);
      api.createGame(options)
        .then(function (res) {
          document.location.href = '<%= settings[:base_url] %>/game/' + res.hash;
        })
        .catch(function (err) {});
    });
    Promise
      .all([
        api.fetchProfile({baseURL: '<%= settings[:base_url] %>', token: getCookie('token')}),
        api.fetchGames({baseURL: '<%= settings[:base_url] %>', token: getCookie('token'), select: 'recent', limit: 100})
      ])
      .then(function (res) {
        var profile = res[0];
        var games = res[1].games;
        var active;
        var finished;
        document.getElementById('player-name').value = profile.name;
        if (games) {
          active = document.getElementById('active-games').getElementsByTagName('tbody')[0];
          finished = document.getElementById('finished-games').getElementsByTagName('tbody')[0];
          games.forEach(function (game) {
            if (game.active) {
              addActiveGameRow(active, game);
            } else {
              addFinishedGameRow(finished, game);
            }
          });
        }
      })
      .catch(function (err) {
        console.error('fetch', err);
      });
  });
</script>
<% end %>
