<% content_for :title do %>Game Score<% end %>

<% content_for :content do %>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">Status</h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Player</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="player-name"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">When</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="game-when"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Standard</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" readonly id="game-standard"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Cash</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" style="background:#EEFFEE;" readonly id="game-cash"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Bank</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" style="background:#EEFFEE;" readonly id="game-bank"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Stock</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" style="background:#EEFFEE;" readonly id="game-stock"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Debt</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" style="background:#FFEEEE;" readonly id="game-debt"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Crew</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" style="background:#FFEEEE;" readonly id="game-crew"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Score</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" style="background:#EEEEFF;" readonly id="game-score"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <a class="button is-primary" href="<%= settings[:base_url] %>">Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Statistics</h1>
        <table class="table is-narrow is-striped is-fullwidth" id="statistics">
          <thead>
            <tr><td></td><td align="right" colspan="2">Purchase</td><td align="right" colspan="2">Sale</td><td align="right" colspan="2">Profit</td></tr>
            <tr><td>Drug</td><td align="right">Quantity</td><td align="right">Value</td><td align="right">Quantity</td><td align="right">Value</td><td align="right">Factor</td><td align="right">Value</td></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Events</h1>
        <table class="table is-narrow is-striped is-fullwidth" id="events">
          <thead>
            <tr><td align="right">Turn</td><td>Location</td><td>Description</td></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<% end %>

<% content_for :script do %>
<script type="text/javascript" src="<%= settings[:base_url] %>/utils.js"></script>
<script type="text/javascript" src="<%= settings[:base_url] %>/api.js"></script>
<script type="text/javascript">
  function addStatisticsRow(tbody, data) {
    var tr = document.createElement('tr');
    var value = data.sell_value - data.buy_value;
    var factor = '--';
    if (data.buy_value > 0) {
      factor = formatFactor(data.sell_value / data.buy_value);
    }
    tr.innerHTML =
      '<td>' + data.drug_name + '</td>' +
      '<td align="right">' + String(data.buy_quantity) + '</td>' +
      '<td align="right">' + formatCredits(data.buy_value) + '</td>' +
      '<td align="right">' + String(data.sell_quantity) + '</td>' +
      '<td align="right">' + formatCredits(data.sell_value) + '</td>' +
      '<td align="right">' + factor + '</td>' +
      '<td align="right">' + formatCredits(value) + '</td>';
    tbody.appendChild(tr);
  }
  document.addEventListener('DOMContentLoaded', function () {
    api.fetchInventory({baseURL: '<%= settings[:base_url] %>', token: getCookie('token'), gameHash: '<%= game.public_id %>'})
      .then(function (res) {
        var events;
        var statistics;
        var tbody;
        document.getElementById('player-name').value = res.player_name;
        document.getElementById('game-when').value = res.when;
        document.getElementById('game-standard').value = res.standard ? 'yes' : 'no';
        document.getElementById('game-cash').value = formatCredits(res.cash);
        document.getElementById('game-bank').value = formatCredits(res.bank);
        document.getElementById('game-stock').value = formatCredits(res.stock);
        document.getElementById('game-debt').value = formatCredits(res.debt);
        document.getElementById('game-crew').value = formatCredits(res.crew);
        document.getElementById('game-score').value = formatCredits(res.score);
        if (res.statistics) {
          statistics = document.getElementById('statistics');
          tbody = statistics.getElementsByTagName('tbody')[0];
          res.statistics.forEach(function (data) {
            addStatisticsRow(tbody, data);
          });
        }
        if (res.events) {
          events = document.getElementById('events');
          tbody = events.getElementsByTagName('tbody')[0];
          res.events.forEach(function (evt) {
            var tr = document.createElement('tr');
            tr.innerHTML = '<td align="right">' + String(evt.turn) + '</td><td>' + evt.location_name + '</td><td>' + evt.description + '</td>';
            tbody.appendChild(tr);
          });
        }
      })
      .catch(function (err) {
        console.error('fetchInventory', err);
      });
  });
</script>
<% end %>
