<% content_for :title do %>Sign Up<% end %>

<% content_for :content do %>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">Create a new player</h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="content">
              <p>
                Choose both your name and your password.
                They cannot be changed afterwards, and they must:
                <ul>
                  <li>contain at least 4 characters,</li>
                  <li>contain at most 30 characters, and</li>
                  <li>match the regex <code>[0-9A-Za-z!@#$%&-_?]+</code>.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" id="player-name"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Password</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="password" id="player-password"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Rewrite</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="password" id="player-rewrite"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-primary" id="register">Register</button>
              </div>
              <div class="control">
                <a class="button is-light" href="<%= settings[:base_url] %>">Back</a>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="content" id="result">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>

<% content_for :script do %>
<script type="text/javascript" src="<%= settings[:base_url] %>/api.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('register').addEventListener('click', function (e) {
      var playerName = document.getElementById('player-name').value;
      var playerPassword = document.getElementById('player-password').value;
      var playerRewrite = document.getElementById('player-rewrite').value;
      if (playerPassword !== playerRewrite) {
        document.getElementById('player-password').value = '';
        document.getElementById('player-rewrite').value = '';
        document.getElementById('result').innerHTML = '<p>The rewrite does not match the password.</p>';
        return;
      }
      document.getElementById('player-password').value = '';
      document.getElementById('player-rewrite').value = '';
      api.createPlayer({baseURL: '<%= settings[:base_url] %>', playerName: playerName, playerPassword: playerPassword})
        .then(function (res) {
          document.getElementById('register').disabled = true;
          document.getElementById('result').innerHTML = '<p>You successfully registered yourself.</p>';
          setTimeout(function () {
            document.location.href = '<%= settings[:base_url] %>';
          }, 1500);
        })
        .catch(function (err) {
          document.getElementById('result').innerHTML = '<p>The registration was unsuccessful.</p>';
        });
    });
  });
</script>
<% end %>
