<% content_for :title do %>Wall of fame<% end %>

<% content_for :content do %>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">Wall of fame</h1>
        <table class="table is-narrow is-striped is-fullwidth" id="wall">
          <thead>
            <tr><td align="right">Ranking</td><td>Player</td><td>When</td><td align="right">Score</td></tr>
          </thead>
          <tbody>
            <% games.each do |game| %>
            <tr>
              <td align="right"><%= game[:ranking] %></td>
              <td><%= game[:player_name] %></td>
              <td style="white-space: nowrap;"><%= game[:elapsed_time] %> ago</td>
              <td align="right"><a href="<%= settings[:base_url] %>/game/<%= game[:hash] %>">$<%= format_credit(game[:score]) %></a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<% end %>
